.body{
}
.body-1{
    display: flex;
    width: 100%;
    height: 8vh;
    background-color: rgba(0, 0, 255, 0.8);
    padding: 0.2vh;
}
.body-logo-1{
    width: 4%;
    height: 100%;
}
.body-logo-1 img{
    width: 100%;
    height: 100%;
}
.body-title-1{
    width: 65%;
    height: 100%;
    text-align: left;
}
.body-title-1-1{
    margin-top: 1vh;
    font-weight: bold;
    color: #ffffff;
    margin-left: 2vh;
    font-size: 2.5vh;
    height: 3vh;
}
.body-title-1-2{
    color: #ffffff;
    font-size: 2vh;
    margin-left: 1vh;
    height: 2.5vh;
}
.body-user-ava{
    width: 31%;
    display: flex;
    height: 100%;
}
.avatar-1 img{
    margin-left: 1vh;
    margin-top: 1vh;
    width: 6vh;
    height: 6vh;
    border-radius: 360px;
}
.username{
    color: white;
    margin-top: 2vh;
    font-size: 2.5vh;
    margin-left: 1vh;
}
.body-2{
    background-color: rgba(0, 0, 255, 0.82);
    margin-top: 1vh;
    width: 100%;
    height: 0.3vh;
}
.body-3{
    padding: 2vh 2vh 10vh 2vh;
    display: flex;
}
.body-3-1{
    width: 10%;
    height: 75vh;
}
.body-3-2 {
    height: 75vh;
    width: 25%;
}

.body-3-4{
    width: 10%;
    height: 75vh;
}
.body-3-2-1{
    border: 1vh solid darkblue;
    width: 100%;
    height: 69vh;
    border-radius: 5vh;
}
.notice{
    width: 95%;
    height: 2.6vh;

}
.notice-0-1{
    font-size: 2vh;
    color: darkblue;
    font-weight: bold;
    text-align: center;
    width: 95%;
    height: 2.5vh;
    border-radius: 1vh;
    margin-left: auto;
    margin-right: auto;
}
.notice-0-2{
    border: 1px solid;
    background-color: darkblue;
    width: 95%;
    height: 0.1vh;
    margin-right: auto;
    margin-left: auto;
}
.notice-1{
    margin: 1vh 1vh 1vh 1vh;
    border: 2px solid;
    border-radius: 3vh;
    color: darkblue;
    width: 95%;
    height: 30.5vh;
}
.notice-1-1 {
    width: 96%;
    height: 22.5vh;
}
.notice-1-1 img{
    width: 100%;
    height: 22.5vh;
    border: 2px solid;
    border-radius: 3vh;
    margin: 1vh 1vh 1vh 0.8vh;
}
.notice-1-2{
    text-align: left;
    margin: 0.5vh 0.5vh 0.5vh 0.5vh;
    text-decoration-line: underline;
    font-weight: bold;
    font-size: 1.7vh;
    width: 98%;
    height: 4vh;
}
.body-3-3{
    height: 75vh;
    width: 55%;
}
.body-3-3-1{
    height: 40%;
    width: 90%;
    padding: 1vh 0.5vh 1vh 0.5vh;
    margin-left: auto;
    margin-right: auto;
}
.body-3-3-2{
    height: 60%;
    width: 90%;
    display: flex;
    margin-right: auto;
    margin-left: auto;
}
.body-3-3-1 img{
    height: 25vh;
    width: 85vh;
    border-radius: 1.5vh;
}
.body-3-0{
    width: 43vh;
    height: 45vh;
    padding: 1vh 1.5vh 4vh 1vh ;
}
.body-3-0-1{
    width: 43vh;
    height: 45vh;
    padding: 1vh 1.5vh 4vh 1vh ;
}
.body-title-3-3-2-1{
    width: 35vh;
    height: 10vh;
    margin: 3vh 3vh 3vh 3vh;
}
.body-title-3-3-2-2{
    width: 35vh;
    height: 10vh;
    margin: 3vh 3vh 3vh 3vh;
}
.body-title-3-3-2-3{
    width: 35vh;
    height: 10vh;
    margin: 3vh 3vh 3vh 3vh;
}
.body-title-3-3-2-4{
    width: 35vh;
    height: 10vh;
    margin: 3vh 3vh 3vh 3vh;
}
.body-title-3-3-2-5{
    width: 35vh;
    height: 10vh;
    margin: 3vh 3vh 3vh 3vh;
}
.body-title-3-3-2-6{
    width: 35vh;
    height: 10vh;
    margin: 3vh 3vh 3vh 3vh;
}